---
---

@import "{{ site.theme }}";



html, body {
    overflow-x: hidden;
}

#title h1 {
    font-size: 36px;
}

p {
    word-wrap: break-word;
}

body {
    background-color: #336;
    background: linear-gradient(#336, #336);
}

#header {
    background-color: #336;
  border-bottom: 4px solid #336;
  margin-top: -4px;
}

hr {
    height: 0px;
    border: 0;
    border-top: 2px solid #558;
}

blockquote {
    border-left: 2px solid #cf3;
}

.wrapper_logo {
    width: auto;
    height: 50px;
}

section #title h1 {
    line-height: 42px;
}



@media only screen and (max-width: 767px) {



  div.wrapper {
    margin-top: 46px;
  }
  nav {
    display: block;
  }

.large_disp {
    display: none;
}



}
