---
---

@import "{{ site.theme }}";

html, body {
    overflow-x: hidden;
}

#title h1 {
    font-size: 36px;
}

p {
    word-wrap: break-word;
}

body {
    background: linear-gradient(#336, #558);
}
