<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}" />
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="/assets/css/style.css" />
    <script src="/assets/js/jquery-3.3.0.min.js"></script>
    <script src="/assets/js/respond.js"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    {% if site.logo %}
      <link rel="icon" href="{{site.logo | relative_url}}" alt="Logo" />
    {% endif %}

    {% include head-custom.html %}

  </head>
  <body>
      <div id="header">
        <nav>
          <ul>
            {% if page.show_downloads %}
            <li class="fork"><a href="{{ page.github_url }}" target="_blank"><img src="/github.svg" alt="GitHub" /><span class="large_disp">&nbsp;Source Code at GitHub</span></a></li>
              <li class="downloads"><a href="{{ page.download_link_main }}"><img src="/windows.svg" alt="Windows" /><span class="large_disp">&nbsp;Windows Installer</span></a></li>
              <li class="title">DOWNLOADS</li>
            {% endif %}
          </ul>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ page.title | default: site.title }}</h1>
		  <img src="{{site.logo | relative_url}}" alt="federicadomani's AutoClicker2 Logo" class="wrapper_logo" />
          <p>{{ page.description | default: site.description }}</p>
          <hr/>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
        </div>

        {{ content }}

      </section>

    </div>
  </body>
</html>
